.btn{
    background-color: darkblue;
    color: white;
    border: .5px solid black;
    margin-left: 40%;
    margin-top: 10px;
    font-weight: bold;
    font-size: medium;
}
h1{
    text-align: center;
}
p{
    text-align: center;
    font-size: 20px;
}