
.control
{
    font-style: bold;
}
#signinlink
{
    font-size: medium;
    font-style:bold;
}
.Main
{
    padding: 3px;
    text-align: center;
    font-size:20pt
    
}
.form
{
    margin-right: 40px;
    margin-left: 50px;
    margin-top: 10px;
    border: 5px solid;
    background-color: rgb(70, 0, 41);
}
.heading
{    margin-top: 5px;
     margin-right: 50px;
    margin-left: 50px;
    color: cornsilk;
    border: 1px solid #ddd;	
    border-radius: 4px;	
    height: auto;
    font-size:medium;
    text-size-adjust: 10px;
    background-color: rgb(0, 0, 153);  
}
.green
{
    color:green;
}
.group
{
    height:25px; font-size:10pt; 
    padding-left: 25px; 
    display: flex;
    justify-content:flex-end;
    flex-direction: column;
    margin-right: 15%;
    margin-top: 50px;
    margin-left: 10%;
    
}
.login
{
    font-size:medium;
    margin-left: 1%;
}

input{
    height:100px;
}