<div id="adminnav">
    <app-user-nav></app-user-nav>
</div>
<div class="container ">
    <form [formGroup]="Form" class="form">
        <div class="group">
            <input type="text" id="enterName" placeholder="Applicant Name" [(ngModel)]="loan.applicantName"
                class="form-control" name="applicantName" formControlName="applicantName"
                [class.is-invalid]="applicantName?.invalid && applicantName?.touched">
        </div>

        <div class="group">
            <input type="text" id="enterAddress" placeholder="Applicant Address" [(ngModel)]="loan.applicantAddress"
                class="form-control" name="applicantAddress" formControlName="applicantAddress"
                [class.is-invalid]="applicantAddress?.invalid && applicantAddress?.touched">
        </div>

        <div class="group">
            <input type="text" id="enterMobile" placeholder="Applicant Mobile" [(ngModel)]="loan.applicantMobile"
                class="form-control" name="applicantMobile" formControlName="applicantMobile"
                [class.is-invalid]="applicantMobile?.invalid && applicantMobile?.touched">
        </div>

        <div class="group">
            <input type="text" id="email" [(ngModel)]="loan.applicantEmail" placeholder="Applicant Email"
                class="form-control" name="applicantEmail" formControlName="applicantEmail"
                [class.is-invalid]="applicantEmail?.invalid && applicantEmail?.touched">
        </div>

        <div class="group">
            <input type="text" id="enterAadharNo" placeholder="Applicant Aadhar No" [(ngModel)]="loan.applicantAadhar"
                class="form-control" name="applicantAadhar" formControlName="applicantAadhar"
                [class.is-invalid]="applicantAadhar?.invalid && applicantAadhar?.touched">

        </div>

        <div class="group">
            <input type="text" id="enterPanNo" placeholder="Applicant Pan No" [(ngModel)]="loan.applicantPan"
                class="form-control" name="applicantPan" formControlName="applicantPan"
                [class.is-invalid]="applicantPan?.invalid && applicantPan?.touched">

        </div>

        <div class="group">
            <input type="text" id="enterSalary" placeholder="Applicant Salary" [(ngModel)]="loan.applicantSalary"
                class="form-control" name="applicantSalary" formControlName="applicantSalary"
                [class.is-invalid]="applicantSalary?.invalid && applicantSalary?.touched">

        </div>

        <div class="group">
            <input type="text" id="enterAmount" placeholder="Loan Amount Required" [(ngModel)]="loan.loanAmountRequired"
                class="form-control" name="loanAmountRequired" formControlName="loanAmountRequired"
                [class.is-invalid]="loanAmountRequired?.invalid && loanAmountRequired?.touched">

        </div>

        <div class="group">
            <input type="text" id="enterMonths" placeholder="Loan Repayment Months"
                [(ngModel)]="loan.repaymentMonths" class="form-control" name="repaymentMonths"
                formControlName="repaymentMonths"
                [class.is-invalid]="repaymentMonths?.invalid && repaymentMonths?.touched">

        </div>

        <div class="groupcom">
            <app-user-upload-document></app-user-upload-document>
        </div>

        <div class="group">
            <button class="btn btn-primary" id="applyLoanButton" (click)="onApplyLoan()">
                Apply for loan</button>
        </div>

        <div class="text-danger group" *ngIf=message>{{message}}</div>
    </form>
</div>