
.bottom-half{
    margin-bottom: 10px;
    margin-top: 10px;
}

#applyLoanButton{
    width: 170px;
}

.control
{
    font-style: bold;
}
#signinlink
{
    font-size: medium;
    font-style:bold;
}
.Main
{
    padding: 3px;
    text-align: center;
    font-size:20pt
    
}
.form
{
    margin-right: 40px;
    margin-left: 50px;
    margin-top: 10px;
    border: 5px solid;
    background-color: rgb(70, 0, 41);
    color:azure;
}
.heading
{    margin-top: 5px;
     margin-right: 50px;
    margin-left: 50px;
    color: cornsilk;
    border: 1px solid #ddd;	
    border-radius: 4px;	
    height: auto;
    font-size:medium;
    text-size-adjust: 10px;
    background-color: rgb(0, 0, 153);  
}
.group
{
    height:35px; font-size:10pt; 
    padding-left: 25px; 
    display: flex;
    justify-content:flex-end;
    flex-direction: column;
    margin-right: 15%;
    margin-top: 25px;
    margin-left: 10%;
    
}

.groupcom
{
    height: 100px; 
    font-size:10pt; 
    padding-left: 25px; 
    display: flex;
    justify-content:flex-start;
    flex-direction: column;
    margin-right: 15%;
    margin-top: 25px;
    margin-left: 10%;
    margin-bottom: 70px;
    
}
input{
    height: 50px;
}

/* Rahul@5961 */