<div class="bootstrap-wrapper">
    
    <div>
        <label for="selectDocumentType">Upload documents(Mandatory*)</label>
        <div>
            <mat-form-field apperance="outline" class="half-width">
                <mat-label>Please pick a type</mat-label>
                <mat-select name="documents" id="selectDocumentType" [(ngModel)]="documentType"
                     name="documentType" Required>
                    
                    <!-- <option value="none" selected disable hidden>Please pick a type</option> -->
                    <mat-option value="aadharcard">Aadhar Card</mat-option>
                    <mat-option value="pancard">Pan Card</mat-option>
                    <mat-option value="voterid">Voter Id</mat-option>
                    <mat-option value="passport">Passport</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <div>
        <label for="chooseFile"> Images or Documents(Upload below 2mb)</label>
        <div class="bottom-half">
            <label for="file" class="custom-file-upload">
                <input type="file" id="file" (change)="onFileChanged($event)" name="file">
                Upload a File
            </label>
        </div>
        <a href="{{viewUrl}}" *ngIf=viewUrl target="_blank">view</a>
    </div>
    
    <div class="bottom-half">
    <button mat-flat-button color="primary" id="uploadDocumentsButton" (click)="onUpload()">Upload
        Documents</button>
    </div>

    <div class="text-danger" *ngIf=message>{{message}}</div>

    
</div>