<div class="bootstrap-wrapper">
    <div class="container">
       
        <form [formGroup]="Form" class="form" (ngSubmit)="onApplyLoan()">
            <div class="row group">
                <div class="col-md-6 ">

                    <mat-form-field class="full-width" appearance="outline">
                        <input type="text" id="enterName" matInput placeholder="Applicant Name"
                            [(ngModel)]="loan.applicantName" class="form-control" name="applicantName"
                            formControlName="applicantName"
                            [class.is-invalid]="applicantName?.invalid && applicantName?.touched">
                        <!-- <div *ngIf="applicantName?.invalid && applicantName?.touched" class="text-danger">
                            <small *ngIf="namecontrols?.['required']">Name is Required</small>
                            <small *ngIf="namecontrols?.['minlength']">Name should be atleast 3 characters</small>
                        </div> -->
                    </mat-form-field>

                    <mat-form-field class="full-width" appearance="outline">
                        <input type="text" id="enterAddress" matInput placeholder="Applicant Address"
                            [(ngModel)]="loan.applicantAddress" class="form-control" name="applicantAddress"
                            formControlName="applicantAddress"
                            [class.is-invalid]="applicantAddress?.invalid && applicantAddress?.touched">
                        <!-- <div *ngIf="applicantAddress?.invalid && applicantAddress?.touched " class="text-danger">
                            <small *ngIf="addresscontrols?.['required']">Address is Required</small>
                            <small *ngIf="addresscontrols?.['minlength']">Invalid Address</small>
                            <small *ngIf="addresscontrols?.['maxlength']">Invalid Address</small>
                        </div> -->
                    </mat-form-field>

                    <mat-form-field class=" full-width" appearance="outline">
                        <input type="text" id="enterMobile" matInput placeholder="Applicant Mobile"
                            [(ngModel)]="loan.applicantMobile" class="form-control" name="applicantMobile"
                            formControlName="applicantMobile"
                            [class.is-invalid]="applicantMobile?.invalid && applicantMobile?.touched">
                        <!-- <div *ngIf="applicantMobile?.invalid && applicantMobile?.touched " class="text-danger">
                            <small *ngIf="mobilecontrols?.['required']">Mobile No. is required</small>
                            <small *ngIf="mobilecontrols?.['minlength']">Invalid Mobile No.</small>
                        </div> -->
                    </mat-form-field>

                    <mat-form-field class=" full-width" appearance="outline">
                        <input type="text" id="email" [(ngModel)]="loan.applicantEmail" matInput
                            placeholder="Applicant Email" class="form-control" name="applicantEmail"
                            formControlName="applicantEmail"
                            [class.is-invalid]="applicantEmail?.invalid && applicantEmail?.touched">
                        <!-- <div *ngIf="applicantEmail?.invalid && applicantEmail?.touched" class="text-danger">
                            <small *ngIf="emailcontrols?.['required']">Email is Required</small>
                            <small *ngIf="emailcontrols?.['pattern']">Email is Invalid</small>
                        </div> -->
                    </mat-form-field>

                    <mat-form-field class="full-width" appearance="outline">
                        <input type="text" id="enterAadharNo" matInput placeholder="Applicant Aadhar No"
                            [(ngModel)]="loan.applicantAadhar" class="form-control" name="applicantAadhar"
                            formControlName="applicantAadhar"
                            [class.is-invalid]="applicantAadhar?.invalid && applicantAadhar?.touched">
                        <!-- <div *ngIf="applicantAadhar?.invalid && applicantAadhar?.touched " class="text-danger">
                            <small *ngIf="aadharcontrols?.['required']">Aadhar No. is mandatory</small>
                            <small *ngIf="aadharcontrols?.['pattern']">Invalid Aadhar No.</small>
                        </div> -->
                    </mat-form-field>

                </div>

                <div class="col-md-6">

                    <mat-form-field class="full-width" appearance="outline">
                        <input type="text" id="enterPanNo" matInput placeholder="Applicant Pan No"
                            [(ngModel)]="loan.applicantPan" class="form-control" name="applicantPan"
                            formControlName="applicantPan"
                            [class.is-invalid]="applicantPan?.invalid && applicantPan?.touched">
                        <!-- <div *ngIf="applicantPan?.invalid && applicantPan?.touched " class="text-danger">
                            <small *ngIf="pancontrols?.['required']">Pan No. is mandatory</small>
                            <small *ngIf="pancontrols?.['pattern']">Invalid Pan No.</small>
                        </div> -->
                    </mat-form-field>

                    <mat-form-field class="full-width" appearance="outline">
                        <input type="text" id="enterSalary" matInput placeholder="Applicant Salary"
                            [(ngModel)]="loan.applicantSalary" class="form-control" name="applicantSalary"
                            formControlName="applicantSalary" 
                            [class.is-invalid]="applicantSalary?.invalid && applicantSalary?.touched">
                        <!-- <div *ngIf="applicantSalary?.invalid && applicantSalary?.touched " class="text-danger">
                            <small *ngIf="salarycontrols?.['required']">Salary is required</small>
                        </div> -->
                    </mat-form-field>

                    <mat-form-field class="full-width" appearance="outline">
                        <input type="text" id="enterAmount" matInput placeholder="Loan Amount Required"
                            [(ngModel)]="loan.loanAmountRequired" class="form-control" name="loanAmountRequired"
                            formControlName="loanAmountRequired" 
                            [class.is-invalid]="loanAmountRequired?.invalid && loanAmountRequired?.touched">
                        <!-- <div *ngIf="loanAmountRequired?.invalid && loanAmountRequired?.touched " class="text-danger">
                            <small *ngIf="amountcontrols?.['required']">Loan Amount is required</small>
                        </div> -->
                    </mat-form-field>

                    <mat-form-field class="full-width" appearance="outline">
                        <input type="text" id="enterMonths" matInput placeholder="Loan Repayment Months"
                            [(ngModel)]="loan.loanRepaymentMonths" class="form-control" name="loanRepaymentMonths"
                            formControlName="loanRepaymentMonths"
                            [class.is-invalid]="loanRepaymentMonths?.invalid && loanRepaymentMonths?.touched">
                        <!-- <div *ngIf="loanRepaymentMonths?.invalid && loanRepaymentMonths?.touched " class="text-danger">
                            <small *ngIf="repaycontrols?.['required']">Repayment months are required</small>
                            <small *ngIf="repaycontrols?.['pattern']">Invalid Months</small>
                        </div> -->
                    </mat-form-field>

                </div>
            </div>


            <div>
                <label for="selectDocumentType">Upload documents(Mandatory*)</label>
                <div>
                    <mat-form-field apperance="outline" class="half-width">
                        <mat-label>Please pick a type</mat-label>
                        <mat-select name="documents" id="selectDocumentType" [(ngModel)]="doc.documentType"
                            class="form-control" name="documentType"
                             formControlName="documentType"
                            [class.is-invalid]="documentType?.invalid && documentType?.touched">
                            <!-- <div *ngIf="documentType?.invalid && documentType?.touched " class="text-danger">
                                <small *ngIf="typecontrols?.['required']">Please select the type of the Document</small>
                            </div> -->
                            <!-- <mat-option value="none" selected disable hidden>Please pick a type</mat-option> -->
                            <mat-option value="aadharcard">Aadhar Card</mat-option>
                            <mat-option value="pancard">Pan Card</mat-option>
                            <mat-option value="voterid">Voter Id</mat-option>
                            <mat-option value="passport">Passport</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>

            <div class="bottom-half">
                <label for="chooseFile"> Images or Documents(Upload below 2mb)</label>
                <div class="bottom-half">
                    <label for="chooseFile" class="custom-file-upload">
                        <input type="file" id="chooseFile" [(ngModel)]="doc.documentUpload"
                            (change)="onFileChanged($event)" name="documentUpload" 
                            formControlName="documentUpload"
                            [class.is-invalid]=" documentUpload?.invalid && documentUpload?.touched">
                        <!-- <div *ngIf="documentUpload?.invalid && documentUpload?.touched " class="text-danger">
                            <small *ngIf="doccontrols?.['required']">Please upload a document</small>
                        </div> -->
                        Choose a File
                    </label>
                </div>

                <div class="buttons bottom-half">
                    <div class="bottom-half">
                        <button mat-flat-button color="primary" id="uploadDocumentsButton" (click)="onUpload()"
                            value="upload">Upload Documents</button>
                        <div  *ngIf="message" class="text-danger">{{message}}</div>
                    </div>
                    <div class="bottom-half">
                        <button type="submit" mat-flat-button color="accent" id="applyLoanButton">Apply for
                            loan</button>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>