<div class="bootstrap-wrapper">
    <div class="container">

        <form [formGroup]="Form" class="form" >
            <div class="row group">
                <div class="col-md-6 ">

                    <mat-form-field class="full-width" appearance="outline">
                        <input type="text" id="enterName" matInput placeholder="Applicant Name"
                            [(ngModel)]="loan.applicantName" class="form-control" name="applicantName"
                            formControlName="applicantName"
                            [class.is-invalid]="applicantName?.invalid && applicantName?.touched">
                       
                    </mat-form-field>

                    <mat-form-field class="full-width" appearance="outline">
                        <input type="text" id="enterAddress" matInput placeholder="Applicant Address"
                            [(ngModel)]="loan.applicantAddress" class="form-control" name="applicantAddress"
                            formControlName="applicantAddress"
                            [class.is-invalid]="applicantAddress?.invalid && applicantAddress?.touched">
                        
                    </mat-form-field>

                    <mat-form-field class=" full-width" appearance="outline">
                        <input type="text" id="enterMobile" matInput placeholder="Applicant Mobile"
                            [(ngModel)]="loan.applicantMobile" class="form-control" name="applicantMobile"
                            formControlName="applicantMobile"
                            [class.is-invalid]="applicantMobile?.invalid && applicantMobile?.touched">
                       
                    </mat-form-field>

                    <mat-form-field class=" full-width" appearance="outline">
                        <input type="text" id="email" [(ngModel)]="loan.applicantEmail" matInput
                            placeholder="Applicant Email" class="form-control" name="applicantEmail"
                            formControlName="applicantEmail"
                            [class.is-invalid]="applicantEmail?.invalid && applicantEmail?.touched">
                       
                    </mat-form-field>

                    <mat-form-field class="full-width" appearance="outline">
                        <input type="text" id="enterAadharNo" matInput placeholder="Applicant Aadhar No"
                            [(ngModel)]="loan.applicantAadhar" class="form-control" name="applicantAadhar"
                            formControlName="applicantAadhar"
                            [class.is-invalid]="applicantAadhar?.invalid && applicantAadhar?.touched">
                        
                    </mat-form-field>

                </div>

                <div class="col-md-6">

                    <mat-form-field class="full-width" appearance="outline">
                        <input type="text" id="enterPanNo" matInput placeholder="Applicant Pan No"
                            [(ngModel)]="loan.applicantPan" class="form-control" name="applicantPan"
                            formControlName="applicantPan"
                            [class.is-invalid]="applicantPan?.invalid && applicantPan?.touched">
                       
                    </mat-form-field>

                    <mat-form-field class="full-width" appearance="outline">
                        <input type="text" id="enterSalary" matInput placeholder="Applicant Salary"
                            [(ngModel)]="loan.applicantSalary" class="form-control" name="applicantSalary"
                            formControlName="applicantSalary"
                            [class.is-invalid]="applicantSalary?.invalid && applicantSalary?.touched">
                        
                    </mat-form-field>

                    <mat-form-field class="full-width" appearance="outline">
                        <input type="text" id="enterAmount" matInput placeholder="Loan Amount Required"
                            [(ngModel)]="loan.loanAmountRequired" class="form-control" name="loanAmountRequired"
                            formControlName="loanAmountRequired"
                            [class.is-invalid]="loanAmountRequired?.invalid && loanAmountRequired?.touched">
                      
                    </mat-form-field>

                    <mat-form-field class="full-width" appearance="outline">
                        <input type="text" id="enterMonths" matInput placeholder="Loan Repayment Months"
                            [(ngModel)]="loan.loanRepaymentMonths" class="form-control" name="loanRepaymentMonths"
                            formControlName="loanRepaymentMonths"
                            [class.is-invalid]="loanRepaymentMonths?.invalid && loanRepaymentMonths?.touched">
                        
                    </mat-form-field>

                </div>
            </div>


            <div>
                <app-upload-document></app-upload-document>
            </div>
              

            <div class="bottom-half">
                <button  mat-flat-button color="accent" id="applyLoanButton" (click)="onApplyLoan()">Apply for
                            loan</button>
            </div> 
            
            <div class="text-danger" *ngIf=message>{{message}}</div>
           
        </form>
    </div>
</div>