.full-width{
    width: 100%;
}

.half-width{
    width: 50%;
}
.bottom-half{
    margin-bottom: 10px;
    margin-top: 10px;
}



.buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}




#applyLoanButton{
    width: 170px;
}