<div id="adminnav">
    <app-user-nav></app-user-nav>
</div>
<div class="black">
    <div class="container bootstrap snippets bootdey">
      <div class="panel-body inf-content">
        <div class="row">
          <div class="col-md-4">
              <img alt="" style="width:600px;" title="" class="img-circle img-thumbnail isTooltip" src="https://bootdey.com/img/Content/avatar/avatar7.png" data-original-title="Usuario"> 
              <ul title="Ratings" class="list-inline ratings text-center">
                  <li><a href="#"><span class="glyphicon glyphicon-star"></span></a></li>
                  <li><a href="#"><span class="glyphicon glyphicon-star"></span></a></li>
                  <li><a href="#"><span class="glyphicon glyphicon-star"></span></a></li>
                  <li><a href="#"><span class="glyphicon glyphicon-star"></span></a></li>
                  <li><a href="#"><span class="glyphicon glyphicon-star"></span></a></li>
              </ul>
          </div>
          <div class="col-md-6">
            <strong>Information</strong><br>
            <div class="table-responsive">
            <table class="table table-user-information">
                <tbody>
                    <tr>        
                        <td>
                            <strong>
                                <span class="glyphicon glyphicon-user  text-primary"></span>
                                ApplicantName:                                                
                            </strong>
                        </td>
                        <td class="text-primary">
                          {{ i.applicantName }}     
                        </td>
                    </tr>
                    <tr>    
                        <td>
                            <strong>
                                <span class="glyphicon glyphicon-asterisk text-primary"></span>    
                                Applicant Id:                                                 
                            </strong>
                        </td>
                        <td class="text-primary">
                          {{ i.loanId }}     
                        </td>
                    </tr>
                    <tr>        
                        <td>
                            <strong>
                                <span class="glyphicon glyphicon-cloud text-primary"></span>  
                                ApplicantAddress:                                             
                            </strong>
                        </td>
                        <td class="text-primary">
                          {{ i.applicantAddress }}
                        </td>
                    </tr>

                    <tr>        
                        <td>
                            <strong>
                                <span class="glyphicon glyphicon-bookmark text-primary"></span> 
                                ApplicantType:                                                
                            </strong>
                        </td>
                        <td class="text-primary">
                          {{ i.loantype }} 
                        </td>
                    </tr>


                    <tr>        
                        <td>
                            <strong>
                                <span class="glyphicon glyphicon-eye-open text-primary"></span> 
                                ApplicantMobile                                                
                            </strong>
                        </td>
                        <td class="text-primary">
                          {{ i.applicantMobile }}
                        </td>
                    </tr>
                    <tr>        
                        <td>
                            <strong>
                                <span class="glyphicon glyphicon-envelope text-primary"></span> 
                                ApplicantEmail:                                                 
                            </strong>
                        </td>
                        <td class="text-primary">
                          {{ id }}  
                        </td>
                    </tr>
                    <tr>        
                        <td>
                            <strong>
                                <span class="glyphicon glyphicon-calendar text-primary"></span>
                                ApplicantAadharrNo                                                
                            </strong>
                        </td>
                        <td class="text-primary">
                          {{ i.applicantAadhar }}
                        </td>
                    </tr>
                    <tr>        
                        <td>
                            <strong>
                                <span class="glyphicon glyphicon-calendar text-primary"></span>
                                RepaymentMonths                                                
                            </strong>
                        </td>
                        <td class="text-primary">
                          {{i.repaymentMonths}}
                        </td>
                    </tr>      
                    <tr>        
                      <td>
                          <strong>
                              <span class="glyphicon glyphicon-calendar text-primary"></span>
                              ApplicantSalary:                                                
                          </strong>
                      </td>
                      <td class="text-primary">
                        {{ i.applicantSalary }}
                      </td>
                  </tr>      
                  <tr>        
                    <td>
                        <strong>
                            <span class="glyphicon glyphicon-calendar text-primary"></span>
                            AmountRequired                                                
                        </strong>
                    </td>
                    <td class="text-primary">
                      {{ i.loanAmountRequired }}
                    </td>
                </tr>      
                <tr>        
                  <td>
                      <strong>
                          <span class="glyphicon glyphicon-calendar text-primary"></span>
                          ApplicantPanNo:                                                
                      </strong>
                  </td>
                  <td class="text-primary">
                    {{ i.applicantPan }}
                  </td>
              </tr>                                    
                </tbody>
            </table>
            </div>
        </div>
</div>
</div>