.search
{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 15px;
}
.detailsofcustomer
{
    display:flex;
    flex-wrap: wrap;
    align-self: auto;
    text-indent: 50px;
    justify-content: center;
    background-color:white;
    padding: 5%;
    font-size: larger;
    margin-left: 40px;
    margin-top: 3px;
    margin-right: 40px;
}
.buttons
{
    display: flex;
    justify-content: end;
}
.first,.secound
{
    display: flexbox;

}
.back
{
    background-color: #4D8C57;
}