.detailsofcustomer
{
    display:flex;
    flex-wrap: wrap;
    align-self: auto;
    text-indent: 50px;
    justify-content: center;
    background-color:white;
    padding: 5%;
    font-size: larger;
    margin-left: 40px;
    margin-top: 5px;
    margin-right: 40px;
}
.buttons 
{
    display: flex;
    justify-content: end;
}
.first,.secound
{
    display: flexbox;

}
.back
{
    background-color: #4D8C57;
}
div {border-width: thick;}

.mat-raised-button.mat-success
{
    background-color: #155724;
}