<div id="adminnav">
  <app-admin-navbar></app-admin-navbar>
</div>
<table class="back">
  <tbody>
    <tr *ngFor="let i of users">
      <div class="detailsofcustomer">
        <div class="first">
          <td>Applicant Name : {{ i.applicantName }}</td>
          <td>Loan Id : {{ i.loanId }}</td>
          <td>Applicant Type : {{ i.loantype }}</td>
        </div>
        <div>
          <td>Applicant Address : {{ i.applicantAddress }}</td>
          <td>Applicant Mobile : {{ i.applicantMobile }}</td>
        </div>
        <div>
          <td>Applicant Email : {{ i.applicantEmail }}</td>
          <td>Applicant Aadhar No : {{ i.applicantAadhar }}</td>
        </div>
        <div>
          <td>Applicant Pan No : {{ i.applicantPan }}</td>
          <td>Applicant Salary : {{ i.applicantSalary }}</td>
          <td>Amount Required : {{ i.loanAmountRequired }}</td>
          <td>Repayment Months :{{i.repaymentMonths}}</td>
          <!-- <td>Status :{{ i.apprej }}</td> -->
        </div>
        <div class="buttons">
          <td><button (click)="deleteCustomer(i.loanId)" class="btn btn-danger">Delete</button>
            <button (click)="customerDetails(i.loanId)" class="btn btn-info" style="margin-left : 10px">View</button>
            <button (click)="editCustomer(i.loanId)" class="btn btn-secondary" style="margin-left : 10px"> Edit</button>
          </td>
          <br>
          <div *ngIf="i.apprej==null; else elseBlock" style="text-align :center;" routerLinkActive="active"
            class="buttons">
            <button class="btn btn-success" (click)="approveLoan(i.loanId)" routerLink="/adminapprovedloan"
              value="approveTask">Approve for Loan</button>
            <button class="btn btn-danger" (click)="rejectLoan(i.loanId)"
              routerLink="/adminapprovedloan">Reject</button>
          </div>
          <ng-template #elseBlock>
            <container-element [ngSwitch]="i.apprej">
              <label *ngSwitchCase="'app'"> <button class="btn btn-success" value="Approved">Approved</button></label>
              <label *ngSwitchCase="'rej'"><button class="btn btn-danger">Rejected</button></label>
            </container-element>

            <ng-template *ngIf="i.apprej!=null;else thenBlock">
              <button class="btn btn-mini btn-primary" value="Approved">Approved</button>
            </ng-template>
            <ng-template #thenBlock>
              <button class="btn btn-mini btn-danger">Rejected</button>
            </ng-template>
          </ng-template>
        </div>
      </div>
    </tr>
  </tbody>
</table>